[Desktop Entry]
Name=Obsidian
Icon={{ obsidian_icon_path }}
Exec={{ obsidian_install_path }}
Terminal=false
Type=Application
StartupWMClass=obsidian
Comment=Obsidian
Categories=Office;
Keywords=Obsidian
