[Desktop Entry]
Name=NextCloud
Icon={{ nextcloud_icon_path }}
Exec={{ nextcloud_install_path }}
Terminal=false
Type=Application
StartupWMClass=nextcloud
Comment=NextCloud
Categories=Office;
Keywords=NextCloud