#!/bin/bash

set -xe

EXTENSION_DIR_PATH={{ extension_dir_path }}
POLICY_DIR_PATH={{ policy_dir_path }}
POLICY_PATH={{ policy_path }}

mkdir -p $EXTENSION_DIR_PATH

urls=(
# workona
"http://addons.mozilla.org/firefox/downloads/file/4504260/workona.xpi"
# undo closed tab
"https://addons.mozilla.org/firefox/downloads/file/4513641/undo.xpi"
)

echo "Download extensions"
for url in "${urls[@]}"; do
  filename=$(echo "${url}" | cut --delimiter=/ --fields=8)
  file_path="$EXTENSION_DIR_PATH/$filename"
  echo "Download $url to $file_path"
  wget $url -O $file_path
done

chmod 755 -R $EXTENSION_DIR_PATH

mkdir -p $POLICY_DIR_PATH

cat > $POLICY_PATH <<EOL
{{ policy_content }}
EOL

chmod 644 $POLICY_PATH
